<!DOCTYPE html>
<html>
  <%- include('partials/header.ejs', {title: title}); %>
  <body>
       <!-- Begin page content -->
       <h1>Welcom to <%=title%></h1>

   <% include partials/footer %>
  </body>
</html>
